#iesblogo {
  position: absolute;
  top: 15%;
  left: 30%;
  width: 40%;
  height: 32%;
}
#inputU{
    position: absolute;
     top: 45%;
     width: 93%;
}
#senha{
  position: absolute;
  top: 55%;
  width: 93%;
}
#buttom{
  position: absolute;
  top: 65%;
  left: 30%;
  width: 40%;
border-radius: 30px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.9s;

}