<ion-content [fullscreen]="true">
  <ion-div id="iesblogo">
    <img src="assets/icon/iesb20logo.jpg">

  </ion-div>
  <ion-div>
    <img src="assets/icon/iesb20logo1.jpg" alt="">
  </ion-div>
</ion-content>
<ion-div id="inputs">
  <ion-item id="inputU">
    <ion-label>Usuário:</ion-label>
    <center>
      <ion-input></ion-input>
    </center>
  </ion-item>
  <ion-item id="senha">
    <ion-label>Senha:</ion-label><br>
    <center>
      <ion-input type="password"></ion-input>
    </center>
  </ion-item>
</ion-div>
<Ion-Button color="light" id="buttom">
  Entrar
</Ion-Button>